<h1>Programma magazijn in</h1>

<hr />

<% unless @product.present? %>
	<h4>AP barcode</h4>
	<%= form_tag('/scan_items/warehouse_in', method: :get) do %>

	<%= text_field_tag :search, '', autofocus: true %>
	<%= submit_tag "search" %>

	<% end %>

<% else %>
	<h4>Voeg magazijnlocatie toe (<%= link_to "zoek opnieuw", scan_items_warehouse_in_path, :class => "btn btn-primary btn-small" %>)</h4>

	<ul>
	  <li><strong>Referentienummer:</strong> <%= Item.find(@product.item_id).reference_number %></li>
	  <li>Asmet: <%= Item.find(@product.item_id).asmeth %></li>
	  <li>Bosal: <%= Item.find(@product.item_id).bosal %></li>
	  <li>Walker: <%= Item.find(@product.item_id).walker %></li>
	  <li>ETS: <%= Item.find(@product.item_id).ets %></li>
	</ul>

	<%= form_for @product, :html => { :class => 'form-horizontal' } do |f| %>
	  <%= f.hidden_field :status, :value => 2 %>
	  <div class="control-group">
	    <%= f.label :location, "Magazijnlocatie", :class => 'control-label' %>
	    <div class="controls">
	      <%= f.text_field :location, autofocus: true, :value => "", :class => 'text_field' %>
	    </div>
	  </div>

	  <div class="form-actions">
	    <%= f.submit "Voeg toe", :name => "warehouse_in", :class => 'btn btn-primary' %>
	  </div>
	<% end %>

	<h4>Alle producten</h4>
	<p>Je huidige product is groen geselecteerd.</p>
	<table class="table table-bordered">
	  <tr>
	    <th>id</th>
	    <th>Status</th>
	    <th>Magazijnlocatie</th>
	  </tr>
	  <% Item.find(@product.item_id).products.each do |product| %>
	      <% if product.id == @product.id %>
	        <tr class="success">
	          <td><%= link_to product.id, product %></td>
	          <td><%= product.status_output %></td>
	          <td><%= product.location %></td>    
	        </tr>
	      <% else %>
	        <tr>
	          <td><%= link_to product.id, product %></td>
	          <td><%= product.status_output %></td>
	          <td><%= product.location %></td>    
	        </tr>
	      <% end %>
	  <% end %>
	</table>
<% end %>