<%- model_class = Product -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<div class="action_button">
  <%= link_to "Wijzig Magazijnlocatie", location_product_path(@product), :class => "btn btn-small btn-primary" %>
</div>

<hr />

<p>
  <strong>Status: </strong><%= @product.status_output %>
</p>

<p>
  <strong>Magazijnlocatie: </strong><%= @product.location %>
</p>

<hr />

<ul>
  <li><strong>Referentienummer:</strong> <%= Item.find(@product.item_id).reference_number %></li>
  <li>Asmet: <%= Item.find(@product.item_id).asmeth %></li>
  <li>Bosal: <%= Item.find(@product.item_id).bosal %></li>
  <li>Walker: <%= Item.find(@product.item_id).walker %></li>
  <li>ETS: <%= Item.find(@product.item_id).ets %></li>
</ul>

<hr />

<p>
  <strong>Inkoopprijs: </strong><%= Item.find(@product.item_id).price %>
</p>

<p>
  <strong>Product type: </strong><%= Item.find(@product.item_id).item_type %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              item_path(@product.item_id), :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_product_path(@product), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              product_path(@product),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>